html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 90px;
    background-color:#033C73;
}

.padded{
    padding-top: 15px;
}

.container{
    padding-top: 20px;
}

.jumbotron{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-group{
    width: 50%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /*hight for the footer*/
    height: 60px;
    background-color: #f5f5f5;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 9px;
}
.copyright-left{ 
    text-align: left; 
    float: left; 
    margin-left: 10px; }
.copyright-right{ 
    text-align: right; 
    float: right; 
    margin-right: 10px; }
