<head>
    <link href="css/dropdown.css" rel="stylesheet" />
</head> 
<body>
<div class="container">
        <!--center>
            <input class="form-control mr-sm-4" name="search" placeholder="Search by Substance" ng-model="substance.search" ng-init="count=10">
            
            <input class="form-control mr-sm-4" name="search" placeholder="Search by Brand" ng-model="brand.search" ng-init="count=10">
        </center-->
        <hr>
<div class="jumbotron">
<!--table class="table table-hover">
    <tbody>
        <tr ng-repeat="subcategory in Subcategories track by $index" class="row100 body">
            <td class="cell100 column1">
                <p>{{subcategory.Title}}</p>
                <div ng-repeat="name in subcategory.MedicinesGroup track by $index">
                    <h3>{{name.Name}}</h3>
                    <li ng-repeat="content in name.Content track by $index">
                        <h4>{{content.Substance}}</h4>
                        <p ng-repeat="detail in content.Details track by $index">
                            {{detail.Brand}}
                            <br>
                            <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                            <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                        </p>
                    </li>
                    
                </div>
            </td>    
        </tr>
    </tbody>
        
</table-->
<div ng-repeat="subcategory in Subcategories track by $index">
        <button class="accordion" data-ng-click="subcategory.active = !subcategory.active" data-ng-class="{'active': subcategory.active}">{{subcategory.Title}}</button>
        <div class="panel">
            <div ng-repeat="name in subcategory.MedicinesGroup track by $index">
                <button class="accordion" data-ng-click="name.active = !name.active" data-ng-class="{'active': name.active}">{{name.Name}}</button>
                <div class="panel">
                <div ng-repeat="content in name.Content |  filter : {Substance : substance.search} track by $index">
                        <button class="accordion" data-ng-click="content.active = !content.active" data-ng-class="{'active': content.active}">{{content.Substance}}</button>
                        <div class="panel">
                            <div ng-repeat="detail in content.Details |  filter : {Brand : brand.search} track by $index">
                                <div ng-switch="detail.Color">
                                    <div ng-switch-when="Black" class="row" style = "background-color: black;" >
                                        <div class="col-md-6">
                                            <p>{{detail.Brand}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                            <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                        </div>
                                    </div>
                                    <div ng-switch-when="Red" class="row" style = "background-color: red;" >
                                            <div class="col-md-6">
                                                <p>{{detail.Brand}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                                <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                            </div>
                                    </div>
                                    <div ng-switch-when="Amber" class="row" style = "background-color: #FFC200;" >
                                            <div class="col-md-6">
                                                <p>{{detail.Brand}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                                <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                            </div>
                                    </div>
                                    <div ng-switch-when="Blue" class="row" style = "background-color: rgb(124, 178, 209);" >
                                            <div class="col-md-6">
                                                <p>{{detail.Brand}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                                <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                            </div>
                                    </div>
                                    <div ng-switch-when="Green" class="row" style = "background-color: #7dcf25;" >
                                            <div class="col-md-6">
                                                <p>{{detail.Brand}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                                <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                            </div>
                                    </div>
                                    <div ng-switch-default class="row" style = "background-color: white;" >
                                            <div class="col-md-6">
                                                <p>{{detail.Brand}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <a ng-if="detail.Link" ng-href="{{detail.Link}}" style = "color: blue;">{{detail.Note}}</a>
                                                <a ng-if="!detail.Link" style = "color: black;">{{detail.Note}}</a>
                                            </div>
                                    </div>
                                
                                </div>
                            </div>
                            <table>
                        </div>
                        </div>
                </div>
            </div>
          
        </div>
</div>
</div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
    }
</script>
</body>