<div class="container">
    <center><input class="form-control mr-sm-4" type="text" placeholder="Search Category" ng-model="category.search" ng-init="count=10"></center>
    <hr>
    <div class="jumbotron">
      <center><h3>{{vm.chapter.Chapter | uppercase}}</h3></center>
      <br>
      <table class="table table-hover">
          <tbody>
            <tr ng-repeat="list in vm.list | filter : {CategoryName : category.search} track by $index">
              <td>Number {{list.CategoryNumber}}</td>
              <td><a ng-href="#!/chapter/{{ vm.chapter._id }}/formulary/{{$index}}" style = "color: black;">{{ list.CategoryName }} </a></td>
            </tr>
          </tbody>
      </table>

      <form ng-if="vm.isLoggedIn()" ng-submit="vm.addList()">
          <div class="row">
              <div class="form-group col-sm-6">
                Category Number: <input type="text" class="form-control input-sm" ng-model="vm.CategoryNumber">
              </div>
              <div class="form-group col-sm-6">
                Category Name: <input type="text" class="form-control input-sm" ng-model="vm.CategoryName">
              </div>
          </div>
          <center><button type="submit" class="btn-primary">Add Category</button></center>
        </form>
    </div>
</div>